# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:portal
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:portal
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        minecraft:observer
        biomesoplenty:sacred_oak_fence_gate
        biomesoplenty:cherry_fence_gate
        biomesoplenty:umbran_fence_gate
        biomesoplenty:fir_fence_gate
        biomesoplenty:ethereal_fence_gate
        biomesoplenty:magic_fence_gate
        biomesoplenty:mangrove_fence_gate
        biomesoplenty:palm_fence_gate
        biomesoplenty:redwood_fence_gate
        biomesoplenty:willow_fence_gate
        biomesoplenty:pine_fence_gate
        biomesoplenty:hellbark_fence_gate
        biomesoplenty:jacaranda_fence_gate
        biomesoplenty:mahogany_fence_gate
        biomesoplenty:ebony_fence_gate
        biomesoplenty:eucalyptus_fence_gate
        biomesoplenty:sacred_oak_door_block
        biomesoplenty:cherry_door_block
        biomesoplenty:umbran_door_block
        biomesoplenty:fir_door_block
        biomesoplenty:ethereal_door_block
        biomesoplenty:magic_door_block
        biomesoplenty:mangrove_door_block
        biomesoplenty:palm_door_block
        biomesoplenty:redwood_door_block
        biomesoplenty:willow_door_block
        biomesoplenty:pine_door_block
        biomesoplenty:hellbark_door_block
        biomesoplenty:jacaranda_door_block
        biomesoplenty:mahogany_door_block
        biomesoplenty:ebony_door_block
        biomesoplenty:eucalyptus_door_block
        malisisdoors:wood_sliding_door
        malisisdoors:iron_sliding_door
        malisisdoors:jail_door
        malisisdoors:laboratory_door
        malisisdoors:factory_door
        malisisdoors:shoji_door
        malisisdoors:curtain_white
        malisisdoors:curtain_orange
        malisisdoors:curtain_magenta
        malisisdoors:curtain_light_blue
        malisisdoors:curtain_yellow
        malisisdoors:curtain_lime
        malisisdoors:curtain_pink
        malisisdoors:curtain_gray
        malisisdoors:curtain_silver
        malisisdoors:curtain_cyan
        malisisdoors:curtain_purple
        malisisdoors:curtain_blue
        malisisdoors:curtain_brown
        malisisdoors:curtain_green
        malisisdoors:curtain_red
        malisisdoors:curtain_black
        malisisdoors:customdoor
        malisisdoors:saloon
        malisisdoors:camofencegate
        malisisdoors:verticalhatch
        openblocks:target
        openblocks:big_button
        openblocks:big_button_wood
        openblocks:village_highlighter
        openblocks:block_breaker
        openblocks:block_placer
        openblocks:sky
        openblocks:xp_shower
        advancedrocketry:airlock_door
        advancedrocketry:oxygendetection
        appliedenergistics2:security_station
        appliedenergistics2:quartz_growth_accelerator
        appliedenergistics2:crafting_unit
        appliedenergistics2:crafting_accelerator
        appliedenergistics2:crafting_storage_1k
        appliedenergistics2:crafting_storage_4k
        appliedenergistics2:crafting_storage_16k
        appliedenergistics2:crafting_storage_64k
        appliedenergistics2:crafting_monitor
        appliedenergistics2:molecular_assembler
        enderio:block_dark_steel_door
        enderio:block_self_resetting_lever5
        enderio:block_self_resetting_lever10
        enderio:block_self_resetting_lever30
        enderio:block_self_resetting_lever60
        enderio:block_self_resetting_lever300
        enderio:block_painted_fence_gate
        enderio:block_painted_wooden_door
        enderio:block_painted_iron_door
        enderio:block_painted_dark_steel_door
        tconstruct:slime_channel
        cfm:door_bell
        cfm:door_bell_spruce
        cfm:door_bell_birch
        cfm:door_bell_jungle
        cfm:door_bell_acacia
        cfm:door_bell_dark_oak
        techguns:bunkerdoor
        industrialrenewal:booster_rail
        industrialrenewal:detector_rail
        nex:quartz_fence_gate
        nex:nether_brick_fence_gate
        nex:red_nether_brick_fence_gate
        nex:basalt_fence_gate
        nex:basalt_smooth_fence_gate
        nex:basalt_brick_fence_gate
        nex:basalt_pillar_fence_gate
        nex:fiery_nether_brick_fence_gate
        nex:icy_nether_brick_fence_gate
        nex:lively_nether_brick_fence_gate
        nex:gloomy_nether_brick_fence_gate
        storagedrawers:keybutton
        drpmedieval:candle_holder_lit
        drpmedieval:candle_holder_unlit
        drpmedieval:torch_holder_lit
        drpmedieval:torch_holder_unlit
        davincisvessels:crate_wood
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


